@page
@using Microsoft.AspNetCore.Authorization
@model MaReSy2.Pages.informationModel
@{
    ViewData["Title"] = "Einstellungen";
}
@attribute [Authorize(Policy = "LoggedIn")]
<style>
    .sonstiges_sonstiges {
        background-color: #403A60;
        padding-top: 10px;
        padding-bottom: 1px;
        text-align: center;
        font-family: Dunant;
    }

    .table_detail {
        padding: 2%;
        width: 100%;
        font-family: Dunant;
    }

    .form-group {
        margin: 20px;
    }

    .btnSpeichern {
        color: white;
        background-color: #B70E0C;
    }

    .sonstiges_einstellungen {
        background-color: #99D6EA;
        padding: 20px;
        font-family: Dunant;
    }

    .custom-alert {
        width: 50%; /* Passe die Breite nach Bedarf an */
        margin: 0 auto; /* Zentriert das Element horizontal */
        text-align: center; /* Zentriert den Text */
    }
</style>

<div class="sonstiges_sonstiges">
    <h1 style="color: white; font-size:50px;">Einstellungen</h1>
</div>

<br />
<div class="sonstiges_einstellungen">
    <h2 style="text-align: center;">Benutzer:in-Einstellungen</h2>

    <h3>Informationen</h3>
    <div class="form-group">
        <table>
            <thead>
                <td style="width: 15%;"></td>
                <td style="width: 40%;"></td>
            </thead>
            <tbody>
                <tr>
                    <td>Benutzername:</td>
                    <td>@Model.angemeldeterUser.username</td>
                </tr>
                <tr>
                    <td>Vorname:</td>
                    <td>@Model.angemeldeterUser.firstname</td>
                </tr>
                <tr>
                    <td>Nachname:</td>
                    <td>@Model.angemeldeterUser.lastname</td>
                </tr>
                <tr>
                    <td>E-Mail-Adresse:</td>
                    <td>@Model.angemeldeterUser.email</td>
                </tr>
                <tr>
                    <td>Rolle:</td>
                    <td>@Model.angemeldeterUser.role</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Passwort ändern</h3>
    <form method="post">
    <div class="form-group">
        <label for="Passwort1">Passwort</label>
        <input type="password" id="Passwort1" class="form-control" asp-for="angemeldeterUser.newPassword" />
    </div>
    <div class="form-group">
        <label for="Passwort2">Passwort bestätigen</label>
        <input type="password" id="Passwort2" class="form-control" asp-for="angemeldeterUser.confirmPassword" />
    </div>
    <button type="submit" class="btn btnSpeichern" style="background-color: #403A60; border-color: #403A60">Speichern</button>
    <h3></h3>
    </form>
    @if (TempData["FehlerMeldungRot"] != null)
    {
        <div class="alert alert-success custom-alert" role="alert" style="background-color: #B70E0C; color: white;">
            @TempData["FehlerMeldungRot"]
        </div>
    }
    @if (TempData["FehlerMeldungGrün"] != null)
    {
        <div class="alert alert-success custom-alert" role="alert" style="background-color: #A0DAB3; color: white;">
            @TempData["FehlerMeldungGrün"]
        </div>
    }
</div>
<br />