@page
@model MaReSy2.Pages.LagerverwaltungModel

@{
	ViewData["Title"] = "Lagerverwaltung";
}
    <h1>Lagerverwaltung</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ProduktId</th>
                <th>Prduktname</th>
                <th>Produktbeschreibung</th>
                <th>Produktbild</th>
                <th>Prduktstatus</th>
                <th>Prduktmenge</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produkte in Model.ProduktListe)
            {
                <tr>
                    <td>@produkte.productId</td>
                    <td>@produkte.productName</td>
                    <td>@produkte.productDescription</td>
                    <td>@produkte.productImage</td>
                    <td>@produkte.productActive</td>
                    <td>@produkte.productAmount</td>
                    <td>
                        <!-- Aktion Buttons wie Bearbeiten und Löschen -->
                        <a class="btn btn-primary" asp-page="/Edit" asp-route-id="@produkte.productId">Bearbeiten</a>
                        <a class="btn btn-danger" asp-page="/Delete" asp-route-id="@produkte.productId">Löschen</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

