@page
@using Microsoft.AspNetCore.Authorization
@model LagerverwaltungModel
@{
    ViewData["Title"] = "Lagerverwaltung";
}
@attribute [Authorize(Policy = "AdminsOnly")]
<style>
    .lagerverwaltung_lagerverwaltung {
        background-color: #403A60;
        padding-top: 10px;
        padding-bottom: 1px;
        text-align: center;
        font-family: Dunant;
    }

    .table_detail {
        padding: 2%;
        width: 100%;
        font-family: Dunant;
    }

    .custom-alert {
        width: 50%; /* Passe die Breite nach Bedarf an */
        margin: 0 auto; /* Zentriert das Element horizontal */
        text-align: center; /* Zentriert den Text */
    }
</style>

<div class="lagerverwaltung_lagerverwaltung">
    <h1 style="color: white; font-size:50px;">Lager-Verwaltung</h1>
</div>

<div class="table_detail">
    <table class="table">
        <thead>
            <tr style="vertical-align: middle;">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <a class="btn btn-primary" asp-page="/LagerverwaltungEP" style="background-color: #403A60; border: #403A60;">Einzelprodukte verwalten</a>
                </th>
            </tr>
            <tr style="vertical-align: middle;">
                <th>Filter</th>
                <th><input type="text" id="searchInputBezeichnung" onkeyup="filterTable()" placeholder="Bezeichnung"></th>
                <th><input type="text" id="searchInputBeschreibung" onkeyup="filterTable()" placeholder="Beschreibung"></th>
                <th>
                    <select id="statusFilter" onchange="filterTable()">
                        <option value="">Alle</option>
                        <option value="Aktiv">Aktiv</option>
                        <option value="Inaktiv">Inaktiv</option>
                    </select>
                </th>
                <th>
                    <a class="btn btn-primary" asp-page="/LagerverwaltungHinzufügen" style="background-color: #A0DAB3; border: #A0DAB3;">Produkt hinzufügen</a>
                    <a class="btn btn-primary" asp-page="/LagerverwaltungHinzufügungSet" style="background-color: #A0DAB3; border: #A0DAB3;">Set hinzufügen</a>
                </th>
            </tr>
            <tr style="vertical-align: middle;">
                <th width="4%">ID</th>
                <th width="21%">Bezeichnung</th>
                <th width="40%">Beschreibung</th>
                <th width="4%">Status</th>
                <th width="24%">Tools</th>
            </tr>
        </thead>
        <tbody id="userTableBody">

            @foreach (var e in Model.products)
            {
                <tr style="vertical-align: middle;">
                    <td>P @e.productId</td>
                    <td>@e.productname</td>
                    <td>@e.productdescription</td>
                    <td>@(e.productactive ? "Aktiv" : "Inaktiv")</td>
                    <td>
                        <a class="btn btn-primary" asp-page="/LagerverwaltungBearbeiten" asp-route-id="@e.productId" style="background-color: #403A60;border-color:#403A60;">Bearbeiten</a>
                        <form id="deleteForm-@e.productId"
                              method="post"
                              asp-route-id="@e.productId"
                              asp-page-handler="Delete"
                              style="display: none;">
                            <button id="btn-deleteProduct-@e.productId" type="submit"></button>
                        </form>
                        <a class="btn btn-danger" style="background-color: #B70E0C; border-color:#B70E0C;" onclick="document.getElementById('btn-deleteProduct-@e.productId').click();">Löschen</a>
                    </td>
                </tr>
            }

            @foreach (var x in Model.sets)
            {
                <tr style="vertical-align: middle;">
                <td>S @x.setId</td>
                <td>@x.setname</td>
                <td>@x.setdescription</td>
                <td>@(x.setactive ? "Aktiv" : "Inaktiv")</td>
                <td>
                    <!-- BEARBEITEN UND LÖSCHEN BUTTONS -->
                    <a class="btn btn-primary" asp-page="/LagerverwaltungBearbeitenSET" asp-route-id="@x.setId" style="background-color: #403A60; border-color:#403A60;">Bearbeiten</a>
                        <form id="deleteForm-@x.setId"
                              method="post"
                              asp-route-id="@x.setId"
                              asp-page-handler="DeleteSET"
                              style="display: none;">
                            <button id="btn-deleteSET-@x.setId" type="submit"></button>
                        </form>
                    <a class="btn btn-danger" style="background-color: #B70E0C; border-color:#B70E0C;" onclick="document.getElementById('btn-deleteSET-@x.setId').click();">Löschen</a>
                </td>
            </tr>
            }
            <!--HIER KOMMT ZWEITER FOREACH REIN-->
        </tbody>
    </table>
    @if (TempData["FehlerMeldungRot"] != null)
    {
        <div class="alert alert-success custom-alert" role="alert" style="background-color: #B70E0C; color: white;">
            @TempData["FehlerMeldungRot"]
        </div>
    }
    @if (TempData["FehlerMeldungGrün"] != null)
    {
        <div class="alert alert-success custom-alert" role="alert" style="background-color: #A0DAB3; color: white;">
            @TempData["FehlerMeldungGrün"]
        </div>
    }
</div>

<script>
    function filterTable() {
        // Variablen
        var inputBezeichnung = document.getElementById("searchInputBezeichnung").value.toUpperCase();
        var inputBeschreibung = document.getElementById("searchInputBeschreibung").value.toUpperCase();
        var statusFilter = document.getElementById("statusFilter").value;
        var table = document.getElementById("userTableBody");
        var tr = table.getElementsByTagName("tr");

        // Schleife über alle Zeilen in der Tabelle
        for (var i = 0; i < tr.length; i++) {
            var tdBezeichnung = tr[i].getElementsByTagName("td")[1];
            var tdBeschreibung = tr[i].getElementsByTagName("td")[2];
            var tdStatus = tr[i].getElementsByTagName("td")[3];
            var match = true; // Initialisiere match als true

            // Überprüfen auf Übereinstimmungen für Bezeichnung und Beschreibung
            if (tdBezeichnung) {
                var txtBezeichnung = tdBezeichnung.textContent || tdBezeichnung.innerText;
                if (txtBezeichnung.toUpperCase().indexOf(inputBezeichnung) === -1) {
                    match = false;
                }
            }

            if (tdBeschreibung) {
                var txtBeschreibung = tdBeschreibung.textContent || tdBeschreibung.innerText;
                if (txtBeschreibung.toUpperCase().indexOf(inputBeschreibung) === -1) {
                    match = false;
                }
            }

            // Überprüfen auf Status-Übereinstimmung
            if (tdStatus && statusFilter) {
                var txtStatus = tdStatus.textContent || tdStatus.innerText;
                if (txtStatus !== statusFilter) {
                    match = false;
                }
            }

            // Zeile ein- oder ausblenden
            tr[i].style.display = match ? "" : "none";
        }
    }

</script>

